<div ng-app="exampleAngularApp" ng-controller="ExampleCtrl as example">
  <p>The status of the timed title modification is: \{{example.status}}</p>
  <example-directive tick="example.tick"></example-directive>
</div>
