---
layout: default
---
<main>
  <section class="sg-header sg-header--centered">
    <header>
      <h1>Frontstart</h1>
      <p class="sg-header__tagline">A Modular Front-End Tooling System</p>
    </header>
    <img src="/resources/images/frontstart-tools.jpg" alt="Various tools on white background"/>
  </section>

  <section class="sg-header">
    <header>
      <h2>A living modular styleguide</h2>
      <p class="sg-header__tagline">The following visual living styleguide is created auto-magically from modules, components and dust</p>
    </header>
    {{> body}}
  </section>
</main>

